# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# css, html
*.css
*.html
*.in
*.txt
SeatCode/
Code/Seat-Plan.out
Code/strategy
Code/subject-wise-rollno
