*.swp
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc

*.o
*.js
*.html
*/getcookie
src/SeatPlan
src/backend/*.o
*.in
*.out
*.html
*.orig
frontend/src/backend/main
frontend/src/header/sendmail-detail.h
frontend/src/header/database-detail.h