# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# css, html
*.css
*.html
*.in
*.txt
*.out
Code/strategy
Code/subject-wise-rollno
Code/*.out
