.page-wrap{
width:60%;
margin:auto;
line-height:1.9rem;
font-size:1.25rem;
}
h1{
color:rgba(0,124,162,1);
text-align:center;
font-size:4rem;
}
h2, h3 {	
font-size:2rem;
line-height:4rem;
font-weight:300;
width:100%;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
color:#f04158
}
h2:hover{

}

/*******************************
STYLES FOR SIDE MENU
*******************************/
.side-menu{
left:-200px;
width: 200px;
position:fixed;
height:100%;
top:0;
background:rgba(0,124,142,0.9);
z-index:1000;
border-right:5px solid #cdcdc2;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.side-menu a
{
 -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
text-align:center;
display:block;
width:100%;
height:4rem;
line-height:4rem;
color:#fff;
border-bottom: 1px solid rgba(0,124,142,1);
}
.side-menu a:hover
{
text-decoration:none;
background:rgba(13,13,13,0.3);
color:rgb(250,211,78);
}
.side-menu h3{
	font-weight:100;
	text-align:center;
	color:rgb(250,211,78);
	text-shadow:1px 1px 2px rgba(255,255,255,0.3);
	font-family:'Roboto slab',serif;
}
#ka{
	vertical-align:middle;
}
#toggle-menu{
z-index:1000;
position:fixed;
width:100px;
height:100%;
top:10;
left:0;
display:block;
cursor:pointer;
text-align:center;
 -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
#toggle-menu:hover{
	background:rgba(205,205,194,0.3);
}
#toggle-menu-circle{
width:100px;
z-index:1000;
height:100px;
border-radius:50%;
background:rgba(0,124,142,0.5);
line-height:100px;
color:#fff;
font-family:'Roboto slab',serif;
font-weight:300;
font-size:1rem;
}
/******************************
FORM STYLES
*******************************/
.theLabel{
	display:block;
	font-weight:400;
	font-size:1.25rem;
	line-height:2rem;
	color:rgb(0,124,142);
}
.theForm{
	max-width:500px;
	margin:auto;	
}
.theFormTextInput{
	border-radius:5px;
	width:100%;
	max-width:500px;
	color:#131313;
	border:0;
	font-size:1rem;
	line-height:2rem;
	height:2rem;
	text-align:center;
	font-weight:100;
}
.theFormTextArea{
	height:10rem;
	font-size:1rem;
	line-height:1.5rem;
	text-align:left;
	padding:5px;
}

.theFormButton{
	margin:15px;
	background:#f04158;
	border:0;
	border-radius:5px;
	width:250px;
	font-size:1.5rem;
	line-height:3rem;
	height:3rem;
	color:#fefefe;
	cursor:pointer;
	float:right;
}
.theFormButton:hover
{
	color:#fad34e;
	text-shadow:1px 1px 2px rgba(0,0,0,0.5);
}
/******************************* 
Responsiveness 
***************************/
@media only screen 
and (max-width : 720px) {
	.page-wrap{width:80%; font-size:1.125rem; }
	h2{font-size:1.5rem;}
}

@media only screen 
and (max-width : 480px){
	.page-wrap{width:95%; font-size:1rem;}
	h2{line-height:1.6rem;}
	#toggle-menu{width:100%; height:100px;}
	#toggle-menu-circle{font-size:0.8rem; font-weight:300; line-height:50px; width:50px; height:50px; color:rgb(250,211,78); overflow:hidden; }
		
} 
