/**************ekoangkarsatguruprasad*****************/
/******************************************************
/general.css
*
/General Css of Baka Plan Landing page
*
/author: Inderpreet Singh (ishwerdas.com)
*
/copyright: Great Developers 2013
*
/license: GNU GPL V3.0 license
*
*****************************************************/

/***************************
 Css to reset default styles
****************************/
body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, img, 
small, strike, strong, sub, sup,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,footer, header, hgroup, 
menu, nav,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight:300;
	font-family: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1,h2,h3,h4,h5, h6{
	font-weight:300;
}
h1{ font-size:3rem; line-height:4rem; }
h2{ font-size:1.5rem; line-height:3rem;}
body {
	line-height: 1.25rem;
}
ol, ul {
	list-style: none;
	font-weight:300;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea:focus, input:focus, select:focus{
    outline: none;
}
/************************************
~GENERAL FULL PAGE CSS~
************************************/
html,body,label,input,textarea
{
font-size:100%;
font-family:inherit;
font-weight:300;
}
html{
font-family:'Roboto slab',serif;
color:#131313;
height:100%;
padding:0;
margin:0;
min-width:320px;
}
body{
padding:0;
margin:0;
height:100%;
}
.coloredBody
{
background:#f3f3f3;
}
.wrap{
padding:0;
margin:0;
border:0;
width:100%;
min-height:100%;
position:relative;
/* a full screen always there background */
background:url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/* Sad IE fix */
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";4
}

a{
color:#f04158;
vertical-align:middle;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}



/**************************
~~FOOTER STYLES
**************************/
.sticky-footer{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1313;
	background:rgba(0,142,124,0.5);
	height:40px;
}

.footer-nav{
	height:40px;
	width:50%;
	margin:auto;
	min-width:300px;
}
.navelement {
	font-size:1.2rem;
	font-family:'Roboto slab',serif;
	font-weight:300;
	line-height:40px;	
	width:30%;
	color:#fff;
	float:left;
	text-align:center;
	height:40px;
	/*text-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
	-webkit-transition: background-color 500ms ease-in-out;
     -moz-transition: background-color 500ms ease-in-out;
     -o-transition: background-color 500ms ease-in-out;
     -ms-transition: background-color 500ms ease-in-out;
     transition: background-color 500ms ease-in-out;
}

.navelement:hover{
	text-decoration:none;
	background:rgba(240,65,88,1);
}
